body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: rgb(19,76,159);
}

hr.light {
  border-color: #fff;
}

a {
  color: rgb(95,45,136);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color:rgb(212,0,26)!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #ffffb5 !important;
}

.bg-dark {
  background-color: #ffffb5 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 4rem 0;
  margin-bottom: 12rem;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  -font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-family: 'Fredoka One', cursive;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  -text-transform: uppercase;
  color: rgb(95,45,136);
  -font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-family: 'Fredoka One', cursive;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #000000;
}
.navbar-brand img{
  width:26%;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #13a3f0;
}

#mainNav .navbar-brand img{
  opacity:0;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  -text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: rgb(95,45,136);
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: rgb(95,45,136) !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    -padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #f9f9f9;
  }
  #mainNav.navbar-shrink img {
    opacity:1;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #04c783;
    -webkit-text-stroke-width: .5px;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #04c783;
    -webkit-text-stroke-width: .5px;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: rgb(95,45,136);
    -webkit-text-stroke-width: .5px;
  }
}

header.masthead {
  -padding-top: 10rem;
  -padding-bottom: calc(10rem - 56px);
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}
.navbar{
  display:none;
}

@media (min-width: 576px) {

  .col-sm-2{
    max-width:100%;
  }
  .mast-logo-width{
    width:60%!important;
  }
}

@media (min-width: 768px) {

  .alphabet{
    display:block!important;
  }
  .headline{
    font-size:1.6rem!important;
  }
  .btn-xl{
    margin:0rem 0 6rem 0!important;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
  .navbar{
    display: block;
  }
  .mast-logo-width{
    width:40%!important;
  }
  .grid-square > .letter{
    font-size:9rem;
    margin-top:-3;
  }
  .grid-square img{
    width:82%!important;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.text-primary {
  color: rgb(95,45,136) !important;
}

.btn {
  font-weight: 700;
  -text-transform: uppercase;
  border: none;
  border-radius: 300px;
  -font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-family: 'Raleway', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
  margin:-2rem 0 8rem 0;
}

.btn-primary {
  background-color: rgb(95,45,136);
  border-color: rgb(95,45,136);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: rgb(95,45,100) !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}


.body{
  background-color:#f9f9f9;
}
.headline{
  font-family: 'Fredoka One', cursive;
  font-size: 1.3rem;
  color: rgb(19,76,159);
}
.banner{
  margin-top:3rem !important;
  margin-bottom:6rem !important;
}
.body-text{
  font-family: 'Raleway', sans-serif;
}
.grid-square{
  border: 1px solid rgba(0,0,0,0.75);
  background:#fff;
  padding: .2rem;
  margin-bottom:1rem;
  width: 11rem;
  height: 11rem;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  margin:0 auto 1rem auto;
}
.grid-square > .letter{
  color: #000000;
  font-family: 'Fredoka One', cursive;
  font-size: 9.8rem;
  margin-top:-2rem;
  opacity:.3;
}
.grid-square > .letter.character{
  opacity:.6;
}
.grid-square > .letter.character:hover{
  opacity:1;
  cursor:pointer;
}
.grid-square > .letter.character img:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.grid-square img{
  width:70%;
  margin-top:-2rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.alphabet{
  display:none;
}
.contact-icon{
  float:left;
}
.contact-text{
  padding: .8rem 0 0 4rem;
}
.contact-padding{
  padding-top:3rem;
}
.mast-logo-width{
  width:90%;
}
.bold-text{
  font-weight: 1000;
}
.button-spacer{
  margin-top:6rem;
}
.no-bottom-margin{
  margin-bottom:0;
}

.mfp-content{
  max-width:1024px!important;
}

.social-icons{
  padding-top:8rem;
}
.social-icons i{
  margin: 0 1rem;
}
#contact{
  padding-bottom:0;
}
.btn:hover{
  background:rgb(212,0,26)!important;
  color:#fff!important;
}